{% include "top.html" %}

    <section id="logo">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="logo-img" src="static\images\icon-favicon.png" alt="" srcset="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 explore">
                <p>"Explore the Mountain Kingdom</p>
                <p>Bean by Bean"</p>
            </div>
        </div>


    </section>


    <section id="description">
        <h2>About Lesotho</h2>
        <p>Now is the winter of our discontent Made glorious summer by this sun of York and all the clouds that lour'd upon our house. In the deep bosom of the ocean buried. Now are our brows bound with victorious wreaths. Our bruised arms hung up for monuments.
            He capers nimbly in a lady's chamber To the lascivious pleasing of a lute. But I, that am not shaped for sportive tricks, Nor made to court an amorous looking-glass I, that am rudely stamp'd, and want love's majesty
        </p>

    </section>

    <section id="provinces_heading">
        <h2>All Provinces</h2>
    </section>

    <section id="provinces">



        <div class="row provinces">

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Berea</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Butha Buthe</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Leribe</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Mafeteng</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Maseru</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Mohale's Hoek</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Mokhotlong</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Qacha's Nek</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Quthing</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 province">
                <a class="btn btn-dark btn-lg">Thaba Tseka</a>
            </div>

        </div>
    </section>



    {% include "bottom.html" %}
</body>

</html>